# Exploración de datos

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [53]:
precios_gas        = pd.read_csv('datasets/precios-gas-natural.csv')
precios_materiales = pd.read_csv('datasets/precios-materiales-construccion.csv')

In [54]:
precios_materiales.rename(
    columns={
        'Año': 'anio',
        'Mes': 'mes',
        'id_Rubro': 'id_rubro',
        'Rubro': 'rubro',
        'variación mensual': 'variacion_mensual'
    },
    inplace=True
)

In [14]:
precios_materiales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884 entries, 0 to 883
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   anio               884 non-null    int64
 1   mes                884 non-null    int64
 2   id_rubro           884 non-null    int64
 3   rubro              884 non-null    object
 4   indice             884 non-null    float64
 5   variacion_mensual  884 non-null    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 41.6+ KB

In [15]:
precios_gas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 936 entries, 0 to 935
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_pub                936 non-null    int64
 1   anio                  936 non-null    int64
 2   mes                   936 non-null    int64
 3   cuenca                936 non-null    object
 4   contrato              936 non-null    object
 5   precio_distribuidora  936 non-null    float64
 6   precio_gnc            936 non-null    float64
 7   precio_usina          936 non-null    float64
 8   precio_industria      936 non-null    float64
 9   precio_otros          936 non-null    float64
 10  precio_ppp            936 non-null    float64
 11  precio_expo           936 non-null    float64
 12  indice_tiempo         936 non-null    object
dtypes: float64(7), int64(3), object(3)
memory usage: 95.2+ KB

In [63]:
precios_materiales.anio = precios_materiales.anio.astype(str)
precios_materiales.mes = precios_materiales.mes.astype(str)

In [64]:
fechas = precios_materiales.mes.str.zfill(2) + '-' +  precios_materiales.anio

In [67]:
precios_materiales['indice_tiempo'] = fechas

In [68]:
precios_materiales

,anio,mes,id_rubro,rubro,indice,variacion_mensual,indice_tiempo
0,2019,1,1,Asfalto,100.000000,0.000000,01-2019
1,2019,1,2,Cales,100.995049,0.995049,01-2019
2,2019,1,4,Cemento portland,102.000000,2.000000,01-2019
3,2019,1,8,Hierro redondo y acero para construcción,100.000000,0.000000,01-2019
4,2019,1,9,Hormigón elaborado,102.000000,2.000000,01-2019
...,...,...,...,...,...,...,...
879,2023,4,16,Tubos estructurales,1109.848776,6.000000,04-2023
880,2023,4,3,Caños de PVC,1144.831673,6.332291,04-2023
881,2023,4,5,Chapas galvanizadas,1121.457289,3.000000,04-2023
882,2023,4,7,Hierro fundido,1249.861311,8.802437,04-2023
883,2023,4,6,Conductores de cobre,1403.832381,6.596635,04-2023